@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<body>
<section class="row">
    <div id="nanoGallery3">
        <a href="~/media/Images/booking.png" data-ngthumb="~/media/Images/booking.png" data-ngdesc="Description1">Title Image1</a>
        <a href="~/media/Images/cowboyfest.png" data-ngthumb="~/media/Images/cowboyfest.png" data-ngdesc="Image 2 description">Title Image2</a>
        <a href="~/media/Images/latestnews-events.png" data-ngthumb="~/media/Images/latestnews-events.png" data-ngdesc="Image 3 description">Title Image3</a>
        <a href="~/media/Images/referencer.png" data-ngthumb="~/media/Images/referencer.png" data-ngdesc="Image 4 description">Title Image4</a>
        <a href="~/media/Images/safe_image.php.png" data-ngthumb="~/media/Images/safe_image.php.png" data-ngdesc="Image 5 description">Title Image5</a>
    </div>
</section>

    <script src="~/Scripts/nanoGallery.js"></script>
</body>